<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="color-palette-outline"></ion-icon>HOBBIES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/images/girl.png">
    </ion-avatar>
    <ion-label>
      <h1>Paintings</h1>
      <p>Painting is one of my Favorite Hobby<br>
         that I have because it really helps<br>
          me to relax and just breath in this <br>
          very chaotic and noisy world
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/images/music.jpg">
    </ion-avatar>
    <ion-label>
      <h1>Listening to Music</h1>
      <p>Music brings me happiness and<br>
         silence to my ears.<br>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/images/2.png">
    </ion-avatar>
    <ion-label>
      <h1>Dance</h1>
      <p>I love to dance, you know<br>
        that one groove in your body<br>
        that you just like wanna dance off<br>
        It's lively when you are enjoying<br>
        the music with a little dance
    </ion-label>
  </ion-item>
</ion-content>
