<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    <ion-icon name="heart-circle-outline"></ion-icon>HOME
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/images/Arevalo.jpg" height="200px" width="200px"/>
    <ion-card-header>
      <ion-card-title>Lowela A. Arevalo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      "Live your LIFE to the FULLEST"<br>
      Hi, hello there! You found me! By the way I am Lowela A. Arevalo.<br>
      Nice to meet you!
      I am 20 years old student in Gordon College currently taking the Bachelor in Science and Information Technology or
      BSIT course. <br>
      Wanna know more about me?<br>
      Just click to the ABOUT ME button <br>
      SEE YAH!
    </ion-card-content>
  </ion-card>
</ion-content>