ion-card{
    padding-top: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: white;
    background-image: linear-gradient(to bottom right,black,navy)
}
ion-card-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: 2px 2px gray;
}
ion-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    text-align: center;
}