<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon name="people-circle-outline"></ion-icon>
      ABOUT ME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Name:</ion-label>
    <ion-badge color="success" slot="end">Lowela A. Arevalo</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Age:</ion-label>
    <ion-badge color="success" slot="end">20 years old</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Address:</ion-label>
    <ion-badge color="success" slot="end">M&N Calapandayan Subic,<br> Zambales</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Contact Number:</ion-label>
    <ion-badge color="secondary" slot="end">09569021176</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Email Address:</ion-label>
    <ion-badge color="secondary" slot="end">lowelaarevalo02@gmail.com</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label position="floating">FUN FACTS</ion-label><br><br>
    <ion-textarea>Other those data above and from the previous pages, I am Actually
      a pet lover, I have 10 cats and 2 dogs and I am very kind person
      I may look like always angry and a snobber but trust me I am not
      I am just not a smiley person. It's like my defense mechanism I guess,
      I just don't like a lot of people around me. I like to keep my inner circle small 
      and true. 
    </ion-textarea>
  </ion-item>
</ion-content>
